<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="searchServiceName" value="[place your azure search service name here]" />
    <add key="searchServiceKey" value="[place your azure search key here]" />
    <add key="azureSearchUrl" value="[place your azure search url here]" />
    <add key="azureStorageConnectionString" value="[place your azure storage connection string here]" />
  </appSettings>
</configuration>